*{
    a{
        text-decoration: none;
    }
}
#first{
    .center{
        a{
            font-size: 17px;
            margin: 0 5px;
            color: #343f52;
            font-weight: 500;
        }
        i{
            margin-left: 9px;
            color: #3f78e0;
        }
    }
    .right{
        button{
            border-radius: 30px;
            padding: 9px 15px;
            border: 1px solid transparent;
            background-color: #3f78e0;
            color: #fff;
            font-size: 17px;
        }
        a{
            font-size: 17px;
            margin: 0 5px;
            color: #343f52;
            font-weight: 500;
        }
        .s{
            display: none;
        }
    }
    background-color: white;
    position: sticky;
    top: 0;
    padding: 10px;
}
#second{
    .all{
        .left{
            h1{
                font-size: 37px;
                font-weight: 500;
                color: #343f52;
            }
            p{
                margin-top: 2rem;
                color: #60697b;
                font-size: 30px;
            }
            button{
                border-radius: 30px;
                padding: 13px 18px;
                border: 1px solid transparent;
                background-color: #3f78e0;
                color: #fff;
                font-size: 19px;
            }
            .Button{
                background-color: transparent;
                color: #3f78e0;
                border: 2px solid #3f78e0;
                padding: 12px 29px;
                color: #3f78e0;
            }
        }
        .right{
            img{
                position: relative;

            }
            .photos1{
                left: 696px;
                top: 140px;
                z-index: -1;
                position: absolute;
            
            }
        }
    }
}

#tree{
    img{
        width: 65% ;
    }
}
#four{
    .all{
        .top{
         text-align: center;
        }
        h6{
            color: #AAB0BC;
        }
        h1{
            font-weight: 600;
            color: #343f52;
        }
    }
    .bottom{
        .icon{
            text-align: center;
            i{
                font-size: 50px;
                background-color: #3f78e0;
                color: #fff;
                border-radius: 20px;
            }
            h3{
                margin-top: 1rem;
                color: #343f52;
                font-size: 20px;
            }
            p{
                color: #60697b;
            }
            a{
                font-size: 18px;
            }
            .ss{
                font-size: 20px;
            }
        }
    }
}
#five{
    .left{
        text-align: center;
        position: relative;
        .png2{
            position: absolute;
            left: 23px;
            bottom: 474px;
            z-index: -1;
        }
    }
    .right{
        h1{
            margin-top: 2rem;
            color: #343f52;
            font-weight: 500;
        }
        p{
            color: #60697b;
            font-size: 25px;
            margin-top: 1rem;
        }
        .box{
            border: 1px solid transparent;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            flex-direction: column;
            i{
                font-size: 40px;
                width: 20%;
                color: #3f78e0;
            }

        }
        .box1{
            
            margin-top: -2rem;
            text-align: center;
            h3{
                font-size: 22px;
                color: #343f52;
            }
            p{
                font-size: 15px;
                color: #60697b;
            }
        }

    }
}
#eight{
    .all{
        .top{
            text-align: center;
            p{
                font-size: 20px;
                color: #AAB0BC;
                font-weight: 500;
            }
            h1{
                color: #343f52;
            }
        }
        .bottom{
                img{
                    width: 100%;
                    border-radius: 30px;
                }
                .s{
                    margin-top: 3rem;
                }
        }
    }
}
#nine{
    .all{
        .left{
            text-align: center;
            img{
                width: 100%;
            }
        }
    }
    .right{

        h6{
            color: #60697b;
            font-size: 18px;
        }
        h1{
            color: #343f52;
            font-weight: 600;
        }
        p{
            margin-top: 2rem;
            font-size: 17px;
            color: #60697b;
        }
       
    }
    .box{
        display: flex;
        justify-content: space-evenly;
        i{
            font-size: 30px;
            margin-top: 2rem;
            color: #3f78e0;
        }

    }
}
#ten{
    .left{
        p{
            color: #60697b;
            font-size: 20px;
        }
        h1{
            font-size: 35px;
            color: #343f52;
        }
        h6{
            margin-top: 2rem;
            font-size: 20px;
            color: #AAB0BC;
        }
        button{
            margin-top: 1rem;
            padding: 11px 18px;
            border-radius: 40px;
            border: 1px solid transparent;
            background-color:#3f78e0;
            color: #ffff;
        }
    }
    .box{
        .top{
            text-align: center;
            img{
                width: 100%;
                border-radius: 50%;
            }
            h3{
                margin-top: 10px;
                color: #60697b;
                font-size: 20px;
                font-weight: bold;
            }
            p{
                color: #AAB0BC;
            }
            h5{
                font-size: 17px;
                color: #60697b;
            }
            i{
                color: #3f78e0;
            }
        }
    }
}
#eleven{
    .left{
        img{
            width: 70%;
        }
    }
    .right{
        i{
            color: gold;
            font-size: 13px;
        }
        p{
            font-size: 23px;
            color: #60697b;
        }
        h1{
            color: #343f52;
            font-size: 20px;
        }
        h6{
            color: #AAB0BC;
            font-size: 14px;
        }
    }
}
#son{
    .tex1{
        text-align: center;
        p{
            margin-top: 1rem;
        }
    }
    .text2{
        h3{
            color: #343f52;
            font-size: 25px;
        }
        h6{
            font-size: 15px;
            color: #AAB0BC;
        }

    }
    .text3{
        h3{
            font-size: 25px;
            color: #343f52;
        }
        p{
            color: #60697b;
        }
    }
    .text4{
        h3{
            font-size: 24px;
            color: #343f52;
        }
        p{
            color: #60697b;
        }
    }

}

@media(max-width: 600px){
    #first{
        overflow: hidden;
        .center{
            display: none;
        }
        .right{
            margin-left: 18rem;
            margin-top: -1.7rem;
            button{
                display: none;
            }
            i{
                font-size: 25px;
            }
        }
    }
    #second{
        overflow: hidden;
        text-align: center;
        .left{
            h1{
                font-size: 29px;
            }
        }
        .right{
            .photos1{
                display: none;
            }
            img{
                width: 100%;
            }
        }
    }
    #tree{
        img{
            width: 80%;
        }
    }
    #four{
        .icon{
            margin-bottom: 2rem;
        }
    }
    #five{
        .png2{
            display: none;
        }
        .left{
            img{
                width: 100%;
            }
        }
        .right{
            text-align: center;
        }
    }
    #eleven{
        .left{
            display: none;
        }
        .right{
        }
    }
}